/*Basic settings*/

body {
    scroll-behavior: smooth;
    margin: 0 10%;
    font-family: "Playfair Display", serif;
}

    
h3  {
    font-weight: bold;
}
  

    
    /*Colors*/
    
   .color-label, .color-hex {
        color: white;
        text-align: center;
   }

   .color-section, .font-section, .text-section {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
   }

   .color-panel {
        display: inline-block;
        width: 30%;
        margin: 15px auto;
        margin-bottom: 25px;
        flex-direction: row;
        flex-wrap: nowrap;
   }
    
    .peach {
        background-color: #FFB5A7;
        color: white;
    }
    
    .color-hex {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.5em;
        
    }
    
    
    .pink {
        background-color: #FCD5CE;
        color:white;
    
    }
    .cream {
        background-color: #F8EDEB;
        color:white;
    }
    
    .yellow {
        background-color: #F9DCC4;
        color:white;
    }
    
    .orange {
        background-color: #FEC89A;
        color: white;
    
    }

    /* Font Section */
    
   .font-section {
        display: block;
   }

   .font-panel {
        display: inline-block;
        width: 45%;
   }

    
    .playfair-display {
        font-family: "Playfair Display";

    }

    .title-font {
        text-decoration: underline;
        font-size: 18px;
    }
    
    
    .raleway {
        font-family: Raleway;
      
    }
    
    .cutive-mono {
        font-family: "Cutive Mono";
       
    }

   .bold-font {
        font-weight: bold;
   }

    .italic-font {
        font-weight: italic;

    }
    
    /*Footer style settings*/
    
    footer {
        width: 1000px;
        height: 50px;
        align-items:baseline;
        text-align: left;
        margin: 10px 0;
        padding: 10px;
    }
    

    /* Text Styles */

    .text-section {
        display: block;
    }

    .subheading {
        font-family: "raleway";
    }

    .p-text {
        font-family: "Cutive Mono";
    }
    /*Fonts*/
    
    @font-face {
        font-family: 'Cutive Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cutivemono/v14/m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
    
      @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/playfairdisplay/v29/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA-Q.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/playfairdisplay/v29/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/playfairdisplay/v29/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      @font-face {
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/raleway/v27/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    
      @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
